################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ithi5plus/.vs/ithi5plus/v16
