################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ithi5plus/.vs/ithi5plus/v16
/local/2022/01/31
/local
/ithi5plus/__pycache__
